.nav-link,h1{
    font-family:  'Abril Fatface';
    font-family: cursive;
       
}
.aboutContainer{
    background-color:  rgb(122, 120, 120);
}
.eventContainer{
    font-family:  'Abril Fatface';
    background: white;
    align-items: center;
}
.mapHolder{
    background-color: gray;
}
.col-centered{
    float: none;
    margin: 0 auto;
    }
.main-container {
    align-content: center;
}
.sportsContainer{
    background-color: lavender;
    float: none;
    margin: auto 0;
}
#sportButton {
    padding: 10px 24px;
    font-size: 10px;
    border-radius: 8px;
    border: 2px solid red;
}
#musicButton {
    padding: 10px 24px;
    font-size: 10px;
    border-radius: 8px;
    border: 2px solid blue;

}
#familyButton {
    padding: 10px 24px;
    font-size: 10px;
    border-radius: 8px;
    border: 2px solid green;
}
.sportsContainerLARGE{
    background-color: lavender;
    display: none;
}
.musicContainerLARGE{
    background-color:rgb(212, 203, 206);
    display: none;
}
.familyContainerLARGE{
    background-color: rgb(104, 100, 101);
    display: none;
}
.musicContainer{
    background-color:rgb(212, 203, 206);
    float: none;
    margin: 0 auto;
}
.familyContainer{
    background-color: rgb(104, 100, 101);
    float: none;
    margin: 0 auto;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
    }

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
}
/* Instagram */
.fa-instagram {
    background: #125688;
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.content {
    color: black;
} 