body {
    background-image: url("http://bgfons.com/uploads/aluminum/aluminum_texture1642.jpg");
    background-size: cover;
}


.nav-link,h1{
    font-family: 'Abel', sans-serif;
}

.divFooterMain {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: right;
}
@media print {
    div.divFooterMain {
      position: absolute;
      bottom: 0;

    }
  
}

  .divFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}
@media print {
    div.divFooter {
      position: fixed;
      bottom: 0;
    }
  }

.aboutContainer{
    background-color: #EAF1F1;
    font-family: 'Abel', sans-serif;
    color: black;
}
.eventContainer{
    font-family: 'Abel', sans-serif;
    background:white;
    align-items: center;
    color: black;
    font-size: 30px;
 
}
.mapHolder{
    background-color: #EAF1F1;
}
.col-centered{
    float: none;
    margin: 0 auto;
    }
.main-container {
    align-content: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
#face {
    font-size: 15px;
    width: 40px;
    text-align: right;
    text-decoration: none;
}

#twit {
    font-size: 15px;
    width: 40px;
    text-align: right;
    text-decoration: none;
}

#insta{
    font-size: 15px;
    width: 40px;
    text-align: right;
    text-decoration: none;
}

#follow {
    color:gray;
    text-decoration: underline;
}

.contact1 {
    margin-left: 650px; 
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
    }
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
}
/* Instagram */
.fa-instagram {
    background: #125688;
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.content {
    color: black;
} 
.eventList {
    font-size: 15px;
}
#table {
    font-size: 10px
}
.imageData{
max-width: 250px;
max-height: 250px;
}
.newEventRow{
    background-color: #EAF1F1;
    color: rgb(17, 16, 16);
}

.eventContainer {
    background-image: url("http://bgfons.com/uploads/aluminum/aluminum_texture1642.jpg");
    background-size: cover;
}